/*IMPOSTAZIONE FONT*/
@import url(switzer.css);

@font-face {
    font-family: 'Switzer-Regular';
    src: url('../font/Switzer-Regular.woff2') format('woff2'),
         url('../font/Switzer-Regular.woff') format('woff'),
         url('../font/Switzer-Regular.ttf') format('truetype');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
  }
  
@font-face {
    font-family: 'Switzer-Italic';
    src: url('../font/Switzer-Italic.woff2') format('woff2'),
         url('../font/Switzer-Italic.woff') format('woff'),
         url('../font/Switzer-Italic.ttf') format('truetype');
    font-weight: 400;
    font-display: swap;
    font-style: italic;
}
  
@font-face {
    font-family: 'Switzer-Medium';
    src: url('../font/Switzer-Medium.woff2') format('woff2'),
         url('../font/Switzer-Medium.woff') format('woff'),
         url('../font/Switzer-Medium.ttf') format('truetype');
    font-weight: 500;
    font-display: swap;
    font-style: normal;
}
  
@font-face {
    font-family: 'Switzer-Bold';
    src: url('../font/Switzer-Bold.woff2') format('woff2'),
         url('../font/Switzer-Bold.woff') format('woff'),
         url('../font/Switzer-Bold.ttf') format('truetype');
    font-weight: 700;
    font-display: swap;
    font-style: normal;
}


/*IMPOSTAZIONI PRELIMINARI*/
  * {
    margin: 0;
    padding: 0;
    transition: all 0.2s ease-in-out;
    scroll-behavior: smooth;
    text-decoration: none;
}

body {
    background-color: #F5F5F5;
    color: #523822;
    font-family: 'Switzer', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;   
    margin: 0;
}

img {
    max-width: 100%;
}

#navbar-list li a, h1, h2 {
    color: #F9F5F1;
}

h1 /*Titolo hero*/{
    font-size: 80px;
    line-height: 1;
    font-weight: bold;
}

h2 /*Sottotitolo hero*/{
    font-size: 30px;
    line-height: 1.5;
    font-weight: normal;
}

h3 /*Titolo sezione*/{
    font-size: 25px;
    line-height: 1;
    font-weight: bold;
}

h4 /*Titolo paragrafo*/{
    font-size: 20px;
    line-height: 1.3;
    font-weight: bold;
}

h5 /*Testo corrente*/{
    font-size: 20px;
    line-height: 1.3;
    font-weight: normal;
}


/*NAVBAR - BARRA DI NAVIGAZIONE*/
nav {
    position: fixed;
    z-index: 10;
    width: 100%;
}

#navbar-marchio {
    color: inherit;
    margin-top: 5px;
}

#nav-main {
    display: flex;
    align-items: center;
    max-width: 1400px;
    height: 50px;
    margin: 10px 6vw 10px 6vw;
}

#navbar-list {
    margin: 0 auto;
}

#navbar-list ul {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    list-style-type: none;
}

#navbar-list ul :hover {
    text-decoration: underline;
}

#navbar-list li a {
    color: #F9F5F1;
}

.nav-scrolled {
    background-color: #6D8F71;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}


/*HERO SECTION*/
.img-hero {
    width: 100%;
}

#blocco-hero-home {
    position: absolute;
    z-index: 0;
    top: 12vw;
    text-align: center;
    width: 100%;
}

#blocco-hero {
    position: absolute;
    z-index: 0;
    top: 20vw;
    text-align: center;
    width: 100%;
}

#hero-marchio {
    width: 50vw;
    margin-bottom: 20px;
}

#button-hero {
    margin-top: 20px;
    padding: 14px 24px;
    background-color: #6D8F71; 
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5); 
    border-radius: 8px; 
    justify-content: center; 
    align-items: center; 
    gap: 8px; 
    display: inline-flex;
}

#blocco-button-hero :hover {
    background-color:#83A389;
}

#testo-button-hero {
    color: #F9F5F6; 
    font-size: 16px;
    line-height: 30px; 
    word-wrap: break-word;
}


/*CARD HOMEPAGE*/

#blocco-card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 30px;
    column-gap: 30px;
    width: 960px;
    margin: 60px auto 60px auto;
}

.card {
    width: 300px;
    height: 300px;
}

.card img {
    width: 300px;
    height: 300px;
    border-radius: 20px;
    object-fit: cover;
}

.card-title {
    color: #F9F5F1;
    margin: -170px auto;
    position: relative;
    border-radius: 0 0 20px 20px;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}

/*ANIMAZIONE CARD HOMEPAGE*/

.card-animazione {
    border-radius: 20px;
}

.card-animazione a {
    text-decoration: none;
}

.card-animazione:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transform: scale(1.05);
}

/*FORM EMAIL*/

#form-email {
    display: flex;
    justify-content: space-between;
    width: 960px;
    margin: 0 auto 60px auto;
}

#form-compilazione-email {
    width: 280px; 
    height: 30px; 
    background: white; 
    border-radius: 10px; 
    border: 1px #9C9C9C solid;
    text-align: center;
}

#testo-compilazione-email p {
    height: 30px;
    align-content: center;
    color: #9C9C9C;
}

#form-invio-email {
    width: 140px; 
    height: 30px; 
    background-color: #6D8F71;
    color: #F9F5F1; 
    border-radius: 10px; 
    border: 1px #9C9C9C solid;
    text-align: center;
}

#form-invio-email :hover {
    background-color: #83A389;
    border-radius: 10px;
    transition-duration: 0s;
}

#testo-invia-email p {
    height: 30px;
    align-content: center;
}

#blocco-form-dx {
    display: grid;
    row-gap: 15px;
    justify-items: center;
}

#testo-form {
    font-size: 20px;
    max-width: 500px;
}

/*CARD PAGINA RICETTE*/

#blocco-card-ricette {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 30px;
    width: 960px;
    margin: 60px auto 60px auto;
}

.card-ricette {
    width: 960px;
    height: 410px;
}

.card-ricette img {
    width: 960px;
    height: 410px;
    border-radius: 20px;
    object-fit: cover;
}

.card-title-ricette {
    color: #F9F5F1;
    margin: -220px auto;
    position: relative;
    border-radius: 0 0 20px 20px;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}

/*ANIMAZIONE CARD RICETTE*/

.card-animazione-ricette {
    border-radius: 20px;
}

.card-animazione-ricette a {
    text-decoration: none;
}

.card-animazione-ricette:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transform: scale(1.05);
}

/*FOOTER*/
footer {
    height: 186px;
    background-color: #523822;
    color: #F9F5F1;
    display: flex;
    justify-content: space-between;
}

#info-footer a {
    color: #F9F5F1;
}

#info-footer :hover {
    color: lightgray;
    text-decoration: underline;
}

#info-footer {
    display: flex;
    gap: 30px;
}

#social-footer {
    width: 120px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

#blocco-footer-sx {
    margin: 30px 0 30px 90px;
}

#blocco-footer-dx {
    margin: 30px 90px 30px 0;
}

#marchio-footer, #powered-by-footer {
    margin-bottom: 10px;
}

#aba-footer, #marchio-abact {
    margin-bottom: 20px;
}


/*STRUTTURA TESTO/IMMAGINI PAGINE - vale per tutte le pagine con testo e immagini*/

.testo-corrente {
    max-width: 500px;
}

.titolo-sezione {
    margin: 60px auto 30px auto;
    max-width: 1029px;
}

.blocco-sezione {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
    max-width: 1029px;
    margin: 0 auto 60px auto;
}

.blocco-sezione-con-icona {
    margin-bottom: 60px;
    max-width: 1029px;
    margin: 0 auto 60px auto;
}

.img-sezione {
    display: block;
    margin-inline: auto;
    margin-bottom: 60px;
}

.paragrafo {
    margin-bottom: 20px;
}

.titolo-paragrafo {
    min-width: 250px;
}

/*PAGINA MISCELE E TIPOLOGIE*/

.icona-tipologia-caffe {
    width: 180px;
    height: 180px;
}

#blocco-tipologie-caffe {
    display: flex;
    max-width: 1029px;
    gap: 100px;
    margin: 0 auto 60px auto;
}

.blocco-icona-caffe h3 {
    text-align: center;
    color: #523822;
}

.icona-titolo-tipologie {
    display: flex;
    gap: 20px;
    width: 50px;
    height: fit-content;
}

.blocco-titolo-testo {
    display:flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 60px;
}

.container{
    display: grid;
    place-items: center;
}

